h4{
    text-decoration: underline;
}
header{
}
.App{
    display:flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    align-items: space-between; 
}

.app-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reddit-logo{
    height: 75px;
}
.results-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    min-height: 40vh;
    padding: 20px;
    text-align: left;
}
.search-field{
    min-width: 55vw;
    display: flex;
    justify-content: space-around;

}
.search-container{
    display: flex;
}
.search-button{
    height: 35px;
    cursor: pointer;
}
.search-button:hover{
    color:white;
    text-decoration: underline;
    background-color:#F95738;
    transition: ease-in .1s;
}
.search-input{
    height: 30px;
    width: 300px;
    font-size: 25px;

}
.main-title{
    cursor: pointer;
}
.main-title:hover{
    text-decoration: underline;
    color:#F95738;
}
.sidebar-title{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.sidebar-container{
    border: 2px grey solid;

    display: flex;
    flex-direction: column;
    background-color: white;
    height: 75vh;
    overflow: auto;
    max-width:25vw;
    position:fixed;
    left: 86vw;
    padding: 15px;
}

.subcount{
    font-size: 15px;
    color: lightseagreen;
    margin: 10px;
}
.pol-message{
    font-size: 30px;
    max-width: 50%;
    word-wrap: initial;
}

.sidebar-item{
    font-size: 12px;
    color: lightseagreen;

}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #F95738; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  .loading-text{
    font-size: 30px;

  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal{
    cursor: pointer;
    display:flex;
    flex-direction: column;
    font-family: helvetica;
    color:black;
    font-size: 17px;
    min-width: 60vw;
    max-height: 60vh;
    padding: 20px;
    top: 20px;
    align-self:center;
    display: none;
    border: solid gray 3px;
    box-shadow: 13px 13px 10px black;
    position: fixed;
    z-index: 1;
    background-color: white;
    max-width: 50vh;
    transition: ease-in 1s;
    overflow: auto;
  }
  
  .modal-show{
    display:block !important;
  }
  
  .icon{max-height:100px;
  max-width: 100px;
  }
.icons{
    display:flex;
    border-top: solid 1px black;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}
 
.built-with{
    margin:0;
    font-size: 27px;
    align-self: flex-start;
}

@media not all and (hover:none){
    .nav-link:hover{
        background-color: gray;
    }
}

@media screen and (max-width: 700px){
    .search-field{
        flex-direction: column;
    }
    .App{
        flex-wrap: wrap;
        min-height:100vh;

    }
    .app-main{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .sidebar-container{
        display: none;
    }
    .search-button{
        color:white;
        text-decoration: underline;
        background-color:#F95738;
        transition: ease-in .1s;
    }
    .main-title{
        text-decoration: underline;
        color:#F95738;
    }
    h1{
        max-width: 90vw;
    }
    .pol-message{
        font-size: 20px;
        width: 100vw;
        padding: 20px
    }

}
